/*General body section*/
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke;
}
/*Flex box section*/
.container{
   display: flex;
   flex-direction: column;
   height: 500px;
   justify-content: center;
   align-items: center;
   gap: 20px;
   box-shadow: 0 4px 12px rgba(0, 0, 0.15);
   margin-top: 150px;
   margin-left: 500px;
   margin-right: 500px;
   background-color: aquamarine;
   border-radius: 30px;
   color: green;
}

.container input{
    width: 200px;
    height: 20px;
    border-radius: 5px;
    background-color: aquamarine;
}

.container label{
    font-size: x-large;
}

